:root {
    /*the higher the number behind c (colour) is the darker out of the chosen palette */
    --c1:#cae2f7; /* Dark theme Font colour*/
    --c2: #bbd6ee; /* Light theme Background*/
    --c3: #374955; /* Dark theme Background*/
    --c4: #2d414f; /* Light theme Font colour*/
}
body{
    background: var(--bg);
    color: var(--fontColor);
    font-family: 'Gill Sans', Verdana, sans-serif;
}
.light-theme{
    --bg: var(--c2);
    --fontColor:var(--c4);
    --btnBg: var(--c3);
    --btnFontColor: var(--c1);
}
.dark-theme{
    --bg: var(--c3);
    --fontColor: var(--c1);
    --btnBg: var(--c2);
    --btnFontColor: var(--c4);
}
.btn{
    position: absolute;
    top: 20px;
    right: 20px;
    height: 50px;
    width: 60px;
    font-weight: bold;
    border-radius: 30%;
    border: solid;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
}