:root {
    --white:#E6DDDD;
    --lightBlue: #9DB2BF;
    --blue: #526D82;
    --darkBlue: #27374D;
}
body{
    background: var(--bg);
    color: var(--fontColor);
    font-family: 'Gill Sans', Verdana, sans-serif;
}
.light-theme{
    --bg: var(--lightBlue);
    --fontColor:var(--darkBlue);
    --btnBg: var(--blue);
    --btnFontColor: var(--white);
}
.dark-theme{
    --bg: var(--blue);
    --fontColor: var(--lightBlue);
    --btnBg: var(--lightBlue);
    --btnFontColor: var(--darkBlue);
}
.btn{
    position: absolute;
    top: 20px;
    right: 20px;
    height: 50px;
    width: 60px;
    font-weight: bold;
    border-radius: 30%;
    border: solid;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
}