:root {
    --brightBlue:#c9e9f2;
    --lightBlue: #7c94a4;
    --blue: #446474;
    --darkBlue: #203c49;
}
body{
    background: var(--bg);
    color: var(--fontColor);
    font-family: Verdana, sans-serif;
}
.light-theme{
    --bg: var(--lightBlue);
    --fontColor:var(--darkBlue);
    --btnBg: var(--blue);
    --btnFontColor: var(--brightBlue);
}
.dark-theme{
    --bg: var(--blue);
    --fontColor: var(--brightBlue);
    --btnBg: var(--lightBlue);
    --btnFontColor: var(--darkBlue);
}
.btn{
    position: absolute;
    top: 20px;
    right: 20px;
    height: 50px;
    width: 50px;
    border-radius: 30%;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
}
